@media screen and (max-width: 574px) {
    .btn-outline-success{
        flex: auto;
    }
    .form-control{
        text-align: center;
    }
    .w-100{
        height: auto;
    }
    label{
        display: flex;
        justify-content: center;
    }
    .navbar-brand{
        max-width: 70px;
    }
    #navbarSupportedContent{
        max-width: min-content;
        margin-left : 16px;
    }
    .fa-times-circle{
        margin-top: 85px;
    }
  }

/*navbar*/
#navbarSupportedContent{
    max-width: min-content;
}
.form-inline{
    justify-content: center;
}
#shopping-cart{
    background-color: #343a40;
}
.navbar-nav{
    align-items: center;
}
.bg-light{
    background-color: rgba(255, 255, 255, 0.828) !important;
}
.fa-shopping-cart{
    color: white;
}
/*global*/
.new-section{
    text-align: center;
    margin: 30px 0;
}
#contactus{
    min-width: 95px;
}

/* carousel*/
#upper-page{
    margin-top: 55px;
}
@media screen and (max-width: 1150px) {
    #upper-page{
        margin-top: 85px;
    }
}
@media screen and (max-width: 952px) {
#upper-page{
    margin-top: 115px;
}
.fa-times-circle{
    margin-top: 55px;
}
}
.carousel-caption{
    color: black;
}
/*compare section*/
.compare-buy{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}
.btn-success{
    width: 100%;
    margin-left: 10px;
}
.phoneID{
    width: 200px;
    min-height: 320px;
    margin: 20px 25px;
    display: flex;
}
.phoneID img{
    width: 200px;
}
.phones{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-content: space-between;
}
.a-phone{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.phones-container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.phone-prop{
    display: none;
}
.comp-section {
    position: relative;
    padding: 38px;
    margin: 38px;
}
.comp-section:after {
    position: absolute;
    content: "";
    width: 17%;
    bottom: 0;
    height: 2px;
    background-color: #080000;
    left: 50%;
    transform: translateX(-50%);
}
#contact-message h1{
    position: relative;
    padding-top: 38px;
}
#contact-message h1::before {
    position: absolute;
    content: "";
    width: 17%;
    top: 0;
    height: 2px;
    background-color: #080000;
    left: 50%;
    transform: translateX(-50%);
}
.table{
    margin: auto;
    text-align: center ;
    max-width: 800px;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.comp{
    color: blue;
    font-size: 25px;
    max-width: 50px;
    display: none;
}
.my-row{
    padding: 10px;
    border-top: solid black 1px;
    width: 75%;
    margin: auto;
}
#first-row,.last-row{
    border-top: none !important;
}
.t-head{
    color: red;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#comp-phone2>img,#comp-phone1>img{
    width: 100px;
}
/*closing part*/
#closing-section{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
}
/*form section*/
form{
    width: 800px;
    margin: 50px auto;
}
.form-row{
    margin: 0;
}
.form-section{
    text-align: center;
}

.send-form{
    text-align: center;
}
.form-row{
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/*map*/
#form-part{
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 30px;
}
#map-part div{
    display: flex;
    justify-content: center;
    width: 100%  !important;
    position: relative;
}

#map-part div iframe {
    box-shadow: 5px 10px 18px #888888;
    width: 100% !important;
}



/*footer*/
.border-top{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .mb-3{
        width: 500px;
        margin: auto;
    }
    .about{
        margin: auto;
        text-align: center;
    }
    .needs-validation{
        max-width: 500px;
        margin: auto;
    }
    .center-it{
        display: flex;
        justify-self: center;
    }
  }
  @media screen and (max-width: 490px) {
    .make-small{
        max-width: 490px;
    }
    .form-control,.mb-3,.needs-validation{
        max-width: 200px;
    }
  }
  @media screen and (max-width: 477px) {
    .btn-outline-success{
        max-width: 200px;
    }
    
  }

/* ----------------------------------- shopping cart ----------------------------------*/
.my-shop{
    margin-top: 55px;
    background-color: #343a40;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    z-index: 50;
    padding: 1rem;
    color: white;
    transform: translateX(105%);
    visibility: hidden;
}
.fa-times-circle{
    cursor: pointer;
    font-size: 25px;
}
.my-shop h1{
    text-align: center;
}
.phone-text{
    width: 170px;
    height: 111px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.phone-text p{
    margin: auto 0;
}
.remove-phone-from-cart{
    max-width: 85px;
}
.shopping-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 150px;
    padding: 20px;
    width: 100%;
    margin: 1.5rem auto;
}
.shopping-item img{
    height: 105px;
    margin: auto 10px;
    border-radius: 5px;
    background-color: #343a40;
}
.item-quantity{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    width: 100px;
}
.item-price p{
    display: flex;
    margin: auto 10px;
    align-self: center;
    font-size: larger;
}
.cart-total{
    font-size: x-large;
    text-align: center;
    position: relative;
    padding: 1rem;
}
.cart-total:before {
    position: absolute;
    content: "";
    width: 45%;
    top: 0;
    height: 2px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.show-cart{
    margin-top: 55px;
    background-color: #343a40;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    z-index: 50;
    padding: 1rem;
    color: white;
    transform: translateX(5%);
    visibility: visible;
}
.purchase{
    text-align: center;
    margin-bottom: 50px;
}
@media screen and (max-width: 574px) {
    .my-shop{
        min-width: 110vw;
    }
    .fa-times-circle{
        margin-top: 115px;
    }
}
/* ----------------------------------- shopping cart end----------------------------------*/
